@model CarRental.Areas.Admin.Models.Dashboard.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-6 col-sm-12 mb-3">
        <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-car"></i>
                </div>
                <div class="mr-5">@Model.arabaList.Count Farklı Model</div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">@Model.kiralikList.Count Araba Kiralandı!</div>
            </div>
        </div>
    </div>
</div>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tc No.</th>
                        <th>Ad Soyad</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Alma Tarihi</th>
                        <th>Teslim Tarihi</th>
                        <th>Araba</th>
                        <th>Toplam Ücret</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tc No.</th>
                        <th>Ad Soyad</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Alma Tarihi</th>
                        <th>Teslim Tarihi</th>
                        <th>Araba</th>
                        <th>Toplam Ücret</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var kiralik in Model.kiralikList)
                    {
                    <tr>
                        <td>@kiralik.TcNo</td>
                        <td>@kiralik.FirstName.ToUpper() @kiralik.LastName.ToUpper()</td>
                        <td>@kiralik.Adres.ToUpper()</td>
                        <td>@kiralik.TelNo</td>
                        <td>
                            @if (kiralik.AlmaTarihi.HasValue)
                            {
                                @kiralik.AlmaTarihi.Value.ToShortDateString()
                            }
                        </td>
                        <td>
                            @if (kiralik.TeslimTarihi.HasValue)
                            {
                                @kiralik.TeslimTarihi.Value.ToShortDateString()
                            }
                        </td>
                        <td>@kiralik.Araba.Marka.ToUpper() @kiralik.Araba.Model.ToUpper()</td>
                        <td>
                            @if (@kiralik.Araba.Fiyat.HasValue)
                            {
                                @((kiralik.Araba.Fiyat.Value * (kiralik.TeslimTarihi.Value - kiralik.AlmaTarihi.Value).TotalDays).ToString("c"))
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>